@use "../../styles/config.scss" as config;

.card {
  height: auto;
  width: auto;
  color: config.$color-main;
  font-size: 36px;
  & * {
    height: 50px;
    width: 50px;
    color: config.$color-main;
    font-size: 36px;
  }
  // width: fit-content;
}

.emoij {
  height: 100px;
  background-color: rebeccapurple;
  font-size: 100px;
}
.selected {
  outline: solid config.$color-border;
  border-radius: 10px;
}

.disabled {
  opacity: 30%;
}
